/* OutputPage.css */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9D76C1;
  }
  
  .outputBox {
    overflow-y: auto;
    width: 500px; /* Adjust the width as needed */
    height: 650px; /* Adjust the height as needed */
    padding: 2%;
    border: 20px solid #ffb449;
    border-radius: 40px;
    padding: 3%;
  }
  
  .summaryText {
    font-size: 1rem;
    color: #333;
  }
  
  .doneButton{
    background-color: #ffb449; /* For instance, Green */
    border: none;
    color: white;
    height: 50px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 1000;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; /* Rounded border */
    transition: background-color 0.3s;
    font-family:  Helvetica, sans-serif;
    margin-top: 20px;
  }